*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.bib.bak
*blg.bib
*.pdf
.DS_Store
Thumbs.db
*.bcf
*.xml
*.script
*.dat
*.table
*.bbl-SAVE-ERROR
*.listing
*.nlo
*.nls
*.glg
*.glo
*.glsdefs
*.ist
*.bcf-SAVE-ERROR
*.idx
*.ilg
*.ind
*.gls
*.synctex(busy)
*.bbl